<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnzk.mapper.BillMapper">
<!--    //	查收支明细-->
    <select id="queryBill" resultType="TbBill" >
        select a.bill_id, a.bill_time, a.bill_num, a.bill_money, b.combo_name,c.user_name
        from tb_bill a left join tb_combo b on a.combo_id=b.combo_id left join tb_use
        r c on a.user_id=c.user_id
        <where>
            <if test="billNum">
                a.bill_num=#{billNum}
            </if>
            <if test="billTime">
                DATE_FORMAT(DATE(a.bill_time),'%Y-%m-%d')  = DATE_FORMAT(#{billTime},'%Y-%m-%d')
            </if>
        </where>
        order by a.bill_time DESC
        limit #{start},#{pageSize}
    </select>
<!--    //收支明细数量-->
    <select id="queryBillCount" resultType="java.lang.Integer">
        select COUNT(*)
        from tb_bill a left join tb_combo b on a.combo_id=b.combo_id
        <where>
            <if test="billNum">
                a.bill_num=#{billNum}
            </if>
            <if test="billTime">
                DATE_FORMAT(DATE(a.bill_time),'%Y-%m-%d')  = DATE_FORMAT(#{billTime},'%Y-%m-%d')
            </if>
        </where>
    </select>

<!--查一周的总收入-->
    <select id="findWeekAllCount" resultType="java.lang.Integer">
		SELECT sum(bill_money) FROM tb_bill
		WHERE DATE(bill_time) &gt; (select subdate(curdate(),date_format(curdate(),'%w')))
		AND DATE(bill_time) &lt;= (select subdate(curdate(),date_format(curdate(),'%w')-7))
		and bill_state=1;
	</select>

<!--//统计一周中每天的临时停车收入-->
    <select id="showWeekTempStatistics" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT sum(bill_money) FROM tb_bill
		WHERE DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') = (select subdate(curdate(),date_format(curdate(),'%w')-#{dayid})) and combo_id is null and bill_state=1;
	</select>
<!--//统计一周中每天的月缴办理收入-->
    <select id="showWeekComboStatistics" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT sum(bill_money) FROM tb_bill
		WHERE DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') = (select subdate(curdate(),date_format(curdate(),'%w')-#{dayid})) and combo_id is not null and bill_state=1;
	</select>


    <!--查一月的总收入-->
    <select id="findMonthAllCount" resultType="java.lang.Integer">
		SELECT SUM(bill_money) FROM tb_bill
		WHERE DATE_FORMAT(DATE(bill_time),'%Y-%m') = DATE_FORMAT(curdate(),'%Y-%m') and bill_state=1;
	</select>

    <!--//统计一月中每周的临时停车收入-->
    <select id="showMonthTempStatistics" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT SUM(bill_money) FROM tb_bill
		WHERE DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') &gt;= DATE_FORMAT(DATE(#{daytime1}),'%Y-%m-%d')
		and DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') &lt;= DATE_FORMAT(DATE(#{daytime2}),'%Y-%m-%d')
		and combo_id is null and bill_state=1;
	</select>

    <!--//统计一月中每周的月缴办理收入-->
    <select id="showMonthComboStatistics" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT SUM(bill_money) FROM tb_bill
		WHERE DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') &gt;= DATE_FORMAT(DATE(#{daytime1}),'%Y-%m-%d')
		and DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') &lt;= DATE_FORMAT(DATE(#{daytime2}),'%Y-%m-%d')
		and combo_id is not null and bill_state=1;
	</select>

    <!-- 查半年的总收入-->
    <select id="findYearAllCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select SUM(bill_money) from tb_bill
		WHERE DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') &gt;= DATE_FORMAT(DATE(#{monthtime1}),'%Y-%m-%d')
		and DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') &lt;= DATE_FORMAT(DATE(#{monthtime2}),'%Y-%m-%d') and bill_state=1;
	</select>

    <!--//统计半年中每月的临时停车收入-->
    <select id="showYearTempStatistics" resultType="java.lang.Integer" parameterType="java.util.Map">
		select SUM(bill_money) from tb_bill
		WHERE DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') &gt;= DATE_FORMAT(DATE(#{daytime3}),'%Y-%m-%d')
		and DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') &lt; DATE_FORMAT(DATE(#{daytime4}),'%Y-%m-%d')
		and combo_id is null and bill_state=1;
	</select>

<!--    //统计半年中每月的月缴办理收入-->
    <select id="showYearComboStatistics" resultType="java.lang.Integer" parameterType="java.util.Map">
		select SUM(bill_money) from tb_bill
		WHERE DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') &gt;= DATE_FORMAT(DATE(#{daytime3}),'%Y-%m-%d')
		and DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') &lt; DATE_FORMAT(DATE(#{daytime4}),'%Y-%m-%d')
		and combo_id is not null and bill_state=1;
	</select>

    <!--//补充缺失当天的临时车收入-->
    <select id="lackTempMoney" resultType="java.lang.Integer" parameterType="java.util.Map">
		select SUM(bill_money) from tb_bill
		WHERE DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') = DATE_FORMAT(DATE(#{lacktime}),'%Y-%m-%d') and combo_id is null and bill_state=1;
	</select>

    <!--//补充缺失当天的月缴办理收入-->
    <select id="lackComboMoney" resultType="java.lang.Integer" parameterType="java.util.Map">
		select SUM(bill_money) from tb_bill
		WHERE DATE_FORMAT(DATE(bill_time),'%Y-%m-%d') = DATE_FORMAT(DATE(#{lacktime}),'%Y-%m-%d') and combo_id is not null and bill_state=1;
	</select>

	<insert id="insertBill" parameterType="com.cnzk.pojo.TbBill">
		 insert into tb_bill (bill_num,bill_money,car_num) values (#{billNum},#{billMoney},#{carNum});
	</insert>

	<update id="updateBill" parameterType="com.cnzk.pojo.TbBill">
       update tb_bill set bill_state=1 where bill_num=#{billNum};
    </update>
</mapper>