<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnzk.mapper.CarMapper">
    <!--    查询记录数-->
    <select id="queryWhitListCount" resultType="int">
        select count(*)as count  from tb_car where vip_id=1;
    </select>
    <!--白名单列表获取-->
    <select id="queryWhiteList" resultType="com.cnzk.pojo.TbCar">
        select c.car_id,c.car_num,c.car_color,c.car_type,c.car_brand,c.vip_id,u.user_id,
        u.user_name,u.user_tel from tb_car c left join tb_user_car uc on uc.car_id=c.car_id left join
        tb_user u on u.user_id=uc.user_id where c.vip_id=1
        limit #{start},#{pageSize};
    </select>
    <!--车辆白名单的录入-->
    <update id="addWhiteList">
        update tb_car set vip_id=1,combo_id=6,end_time='' where car_num=#{carNum};
    </update>
    <!--车辆白名单删除-->
    <update id="deleteWhiteList">
        update tb_car set vip_id=0,combo_id=0 where car_num=#{carNum};
    </update>
    <!-- 根据车牌查询车表记录-->
    <select id="queryCarByCarNum" resultType="com.cnzk.pojo.TbCar">
        select c.*,b.combo_name from tb_car c left join tb_combo b on b.combo_id=c.combo_id where car_num=#{carNum};
    </select>
    <!-- 添加车辆信息-->
    <insert id="addCar" keyProperty="carId" useGeneratedKeys="true">
        insert into tb_car (car_num,car_type,car_brand,car_color,vip_id)
        values (#{carNum},#{carType},#{carBrand},#{carColor},1);
    </insert>
    <!--添加用户与车关系-->
    <insert id="addUserCar">
        insert into tb_user_car ( user_id,car_id) values (#{userId},#{carId});
    </insert>
    <!--开通新月缴-->
    <update id="handlePackage">
        update tb_car set end_time=#{endTime},combo_id=#{comboId},vip_id=2 where car_num=#{carNum};
    </update>
    <!--办理续费-->
    <update id="handleRenew">
        update tb_car set combo_id=#{comboId},end_time=#{endTime} where
        car_num=#{carNum} and vip_id=2;
    </update>
    <!-- 车辆出场（添加出库表数据）-->
    <insert id="carexit">
       insert into tb_exit (car_num) values (#{carnum})
    </insert>

    <!--车辆出场记录查询-->
    <select id="queryExit" resultType="com.cnzk.pojo.TbExit" resultMap="getCar">
        select * from tb_exit order by exit_time desc limit #{start} , #{end}
    </select>

    <resultMap id="getCar" type="com.cnzk.pojo.TbExit">
        <result property="carNum" column="car_num"/>
        <association property="tbCar" column="car_num" javaType="com.cnzk.pojo.TbCar" select="selectCar"/>
    </resultMap>

    <select id="selectCar" parameterType="java.lang.String" resultType="com.cnzk.pojo.TbCar">
        select * from tb_car where car_num = #{carNum}
    </select>

    <!--根据车牌查询车辆信息-->
    <select id="queryCarInfo" parameterType="java.lang.String" resultType="com.cnzk.pojo.TbCar">
        select * from tb_car where car_num = #{carNum}
    </select>

    <!--根据手机号查车牌-->
    <select id="queryCarNum" resultType="TbCar">
        select c.car_brand,c.car_color,c.car_id,c.car_num,c.car_type,c.combo_id,d.combo_name,c.end_time,a.user_id,a.user_name,a.user_tel from tb_user a
            left join tb_user_car b on a.user_id = b.user_id
            left join tb_car c on b.car_id = c.car_id
            left join tb_combo d on c.combo_id = d.combo_id
        where a.user_tel = #{userTel}
    </select>


</mapper>