<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间，区别不同xml中，出现相同的id-->
<mapper namespace="com.cnzk.mapper.ComboMapper">
    <!--规则集合-->
    <select id="queryComboList" parameterType="java.util.Map" resultType="TbCombo">
        select * from tb_combo where combo_name!='白名单' limit #{start},#{pageSize};
    </select>

    <!--规则集合数量-->
    <select id="queryCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select COUNT(*) from tb_combo where combo_name!='白名单';
    </select>

    <!--添加新的套餐-->
    <insert id="addCombo" parameterType="TbCombo">
        insert into tb_combo (combo_name,combo_value,combo_state) values (#{comboName},#{comboValue},#{comboState});
    </insert>
    <!-- 套餐状态修改-->
    <update id="updataCombo" parameterType="TbCombo">
       update tb_combo set combo_state=#{comboState} where combo_id=#{comboId};
    </update>
<!--    套餐修改-->
    <update id="editCombo" parameterType="TbCombo">
       update tb_combo set combo_name=#{comboName},combo_value=#{comboValue} where combo_id=#{comboId};
    </update>
<!--查询所有启用套餐名字-->
    <select id="queryComboNameList" resultType="TbCombo">
        select * from tb_combo where combo_state = '启用';
    </select>

<!--    查每种套餐的购买量-->
    <select id="queryComboMoney" resultType="PieStatisticsData">
    select b.combo_name as name,sum(a.bill_money) as value from tb_bill a left join tb_combo b on a.combo_id = b.combo_id where b.combo_state = '启用' and a.bill_state = 1 group by b.combo_name order by value desc
    </select>
</mapper>