<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间，区别不同xml中，出现相同的id-->
<mapper namespace="com.cnzk.mapper.MenuMapper">

	<select id ="queryRoleAllMenu" resultType="TbMenu" parameterType="java.lang.Integer">
		select * from tb_menu a ,tb_role_menu b where a.menu_id = b.menu_id and b.role_id = #{roleId};
	</select>

	<select id ="queryAllMenu" resultType="TbMenu">
		select * from tb_menu;
	</select>

    </mapper>