<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间，区别不同xml中，出现相同的id-->
<mapper namespace="com.cnzk.mapper.MenuMapper">
<!--二级菜单-->
	<select id ="findMenu" parameterType="java.lang.Integer" resultType="TbMenu">
		select A.* from tb_menu A join tb_role_menu B on A.menu_id = B.menu_id where B.role_id = #{rolesid}
	</select>
<!--一级菜单-->
	<select id ="findMenuSon" parameterType="java.lang.Integer" resultType="TbMenu">
		select * from tb_menu where menu_id in (
		select DISTINCT menu_pid from tb_menu where menu_id in (
		select tb_role_menu.menu_id from tb_role_menu where role_id = #{rolesid}))
	</select>

	<select id ="findAllMenus" resultType="TbMenu">
		select * from tb_menu where MENUSONID not in (0)
	</select>

	<select id ="findAllMenuSon" resultType="TbMenu">
		select * from tb_menu where MENUSONID = 0
	</select>

    </mapper>