<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnzk.mapper.ParkMapper">

    <!--查询车位情况-->
    <select id="queryPark" resultType="com.cnzk.pojo.TbPark">
        select * from tb_park
    </select>


    <!--获取车位列表-->
    <select id="getParkList" resultType="com.cnzk.pojo.TbPark">
        select * from tb_park
        <where>
            <if test="tbPark.carNum != null and tbPark.carNum != ''">
                and car_num like concat('%',#{tbPark.carNum},'%')
            </if>
            <if test="tbPark.parkName != null and tbPark.parkName != ''">
                and park_name like concat('%',#{tbPark.parkName},'%')
            </if>
        </where>
        limit #{start},#{pageSize};
    </select>

    <!--获取车位数量-->
    <select id="getParkCount" resultType="int">
        select count(*) from tb_park
        <where>
            <if test="carNum != null and carNum != ''">
                and car_num like concat('%',#{carNum},'%')
            </if>
            <if test="parkName != null and parkName != ''">
                and park_name like concat('%',#{parkName},'%')
            </if>
        </where>
    </select>

    <update id="carExit"  parameterType="com.cnzk.pojo.TbBill">
       update tb_park set car_num=null,park_state='未停车' where car_num=#{carNum};
    </update>

    <!--通过车牌获取车位-->
    <select id="queryParkByCarNum" resultMap="getCoordinate">
        select * from tb_park where car_num = #{carNum};
    </select>

    <resultMap id="getCoordinate" type="com.cnzk.pojo.TbPark">
        <result property="coordinateId" column="coordinate_id"/>
        <association property="tbCoordinate" column="coordinate_id" javaType="com.cnzk.pojo.TbCoordinate" select="queryCoordinate"/>
    </resultMap>

    <select id="queryCoordinate" resultType="com.cnzk.pojo.TbCoordinate">
        select * from tb_coordinate where coordinate_id = #{coordinateId}
    </select>
</mapper>