<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnzk.mapper.RoleMapper">

    <select id="queryRole" resultType="com.cnzk.pojo.TbRole" >
        select * from  tb_role limit #{start},#{pageSize};
    </select>

    <select id="queryRoleCount" resultType="int">
        select count(*) as count from tb_role;
    </select>
</mapper>