<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnzk.mapper.UserMapper">
    <!--    根据车牌查用户-->
    <select id="carfinduser" resultType="java.lang.String">
       select u.user_name from tb_user u left join tb_user_car uc on uc.user_id=u.user_id left join tb_car c on c.car_id=uc.car_id where c.car_num= #{carnum}
    </select>
    <select id="carfindentertime" resultType="java.lang.String">
       select enter_time from tb_enter where car_num = #{carnum}order by  enter_time DESC limit 0,1
    </select>
    <insert id="caraddenter" >
       insert into tb_enter (enter_time,car_num) values (#{starttime},#{carnum})
    </insert>
    <select id="findcarvip" resultType="java.lang.String">
       select vip_id from  tb_car where car_num = #{carnum}
    </select>
    <insert id="caraddexit" >
       insert into tb_exit (exit_time,car_num) values (#{exittime},#{carnum})
    </insert>
    <insert id="carexit" >
       insert into tb_exit (car_num) values (#{carnum})
    </insert>
    <select id="parkspacemsg" resultType="java.lang.String">
       select park_name from tb_park  where car_num = #{carnum}
    </select>
    <!--    查空车位-->
    <select id="findParkSpace" resultType="TbPark" >
       select * from tb_park where park_state=#{state};
    </select>
    <!--    查空车位数量-->
    <select id="findParkSpacenum" resultType="java.lang.String">
       select COUNT(*) from tb_park WHERE park_state =#{state};
    </select>
    <!--    车库更新数据-->
    <update id="updatatoPark">
        update tb_park set car_num = #{carNum},park_state = #{parkState}  where park_id = #{parkId};
    </update>
    <select id="carfindps" resultType="java.lang.String">
         select park_name from tb_park where car_num=#{carNum};
    </select>
    <!-- 添加用户-->
    <insert id="addUser" keyProperty="userId" useGeneratedKeys="true">
        insert into tb_user (user_name,user_tel)values(#{userName},#{userTel});
    </insert>

    <insert id="addimgurl" >
        insert into tb_carimg (carimg_carnum,carimg_url)values(#{carnum},#{url});
    </insert>
    <!--根据车牌查询用户-->
    <select id="queryUserByCarNum" resultType="com.cnzk.pojo.TbUser">
        select * from tb_car where car_num=#{carNum};
    </select>
    <!--根据用户名查询用户-->
    <select id="queryUserByUserName" resultType="com.cnzk.pojo.TbUser">
        select * from tb_user where user_name=#{userName};
    </select>
</mapper>